body {
  font-family: "Aladin", cursive;
}

h1 {
  text-align: center;
  color: #00204a;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 28px;
  text-transform: capitalize;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30 auto;
}

.weather-app {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 193, 104) 0%,
    rgb(251, 128, 128) 90%
  );
}

.search-form {
  text-align: center;
}

.text-input {
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  padding: 5px 10px;
}

.search {
  background-color: #8a1253;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 100;
}

.location-button {
  background-color: #c51350;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 100;
}

.date {
  color: black;
}

.col-6 {
  display: block;
  margin-left: 140px;
  margin-bottom: 20px;
}

.weather-temperature {
  text-align: center;
}
.temperature {
  color: #363636;
  font-size: 45px;
  margin-left: 25px;
}

.units {
  position: relative;
  font-size: 15px;
  top: -20px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.col-4 {
  color: #f8f8f8;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.col-2 {
  border: 1px solid #302f2f;
  border-radius: 20px;
  border-spacing: 5px 1rem;
}

.col-2:hover {
  background-color: #f8f398;
  transition: all 0.5s ease-in-out;
  color: #2c2d34;
}
